<footer class="page__footer">
    <div class="container page__footer-container">
        <div class="page__footer-top">
            <section class="page__footer-block">
                <img src="./images/footer-logo.svg" alt="" class="page__footer-logo" width="192">

                <p class="page__footer-address">
                    Київ, пр. Павла Тичини, 1в
                </p>

                <a href="tel:+380442350025" class="page__footer-tel">
                    +38 (044) 235-00-25
                </a>
            </section>

            <section class="page__footer-block">
                <a href="#" class="page__footer-link">
                    Планування та пропозиції оренди
                </a>
            </section>

            <section class="page__footer-block">
                <ul class="page__footer-socials footer-socials">
                    <li class="footer-socials__item">
                        <a href="#" class="footer-socials__link">
                            <img src="/icons/fb-icon.svg" alt="" class="footer-socials__icon">
                            <span class="visually-hidden">
                                fb
                            </span>
                        </a>
                    </li>
                    <li class="footer-socials__item">
                        <a href="#" class="footer-socials__link">
                            <img src="/icons/insta-icon.svg" alt="" class="footer-socials__icon">
                            <span class="visually-hidden">
                                insta
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="page__footer-menu footer-menu">
                    <li class="footer-menu__item">
                        <a href="#" class="page__footer-link">Оренда офісу в Києві</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="page__footer-link">Оренда торгівельної площі</a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="page__footer-bottom">
            <p class="page__footer-copy">
                &copy; 2013 – 2025 Всі права захищені
            </p>

            <a href="#" class="page__footer-policy">
                Політика конфіденційності
            </a>
        </div>
    </div>
</footer>