<header class="page__header">
    <div class="container page__header-container">
        <a href="#" class="page__header-logo">
            <img src="./images/logo.svg" alt="" class="page__header-logo-img" width="199" height="32">
        </a>


        <button class="mobile-menu-toggle" type="button" aria-label="Открыть меню">
            <span class="burger-line" aria-hidden="true"></span>
            <span class="burger-line" aria-hidden="true"></span>
            <span class="burger-line" aria-hidden="true"></span>
        </button>

        <nav class="page__header-nav">
            <ul class="page__header-menu header-menu">
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">Офісний центр</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">Торгівельний центр</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">Інфраструктура</a>
                </li>
                <li class="header-menu__item">
                    <a href="#" class="header-menu__link">Контакти</a>
                </li>
            </ul>
        </nav>

        <div class="page__header-right">
            <a href="#" class="page__header-tel">
                +38 (044) 235-00-25
            </a>

            <a href="#" class="page__header-lang">
                En
            </a>
        </div>
    </div>
</header>